body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  background-color: #2c2c2c;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  width: 300px;
}
.welcome {
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #f0c674;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.button:hover {
  background-color: #45a049;
}
.skin {
    display: inline-block;
    border: 2px solid transparent;
    cursor: pointer;
    margin: 5px;
}

.skin.selected {
    border-color: yellow;
}
.skin-dropdown {
    position: relative;
    width: 70px;
    cursor: pointer;
}

.skin-selected {
    border: 2px solid #fff;
    background: #222;
    padding: 4px;
    margin-left: 110px;
    margin-bottom: 5px;
    width:70px;
}

.skin-options {
    position: absolute;
    top: 80px;
    left: 0;
    background: #111;
    border: 2px solid #fff;
    display: none;
    max-height: 600px;
    overflow-y: auto;
    padding: 4px;
    z-index: 10;
    margin-bottom: 100px;
    margin-left:200px;
}

.skin-option {
    padding: 4px;
    border-bottom: 1px solid #333;
}

.skin-option:hover {
    background: #444;
}
.form-group label,
.skin-section label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--primary);
  font-size: 0.8rem;
  text-transform: uppercase;
}